<!-- footer 2 -->
<footer>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="copyright">
					affinity tech &copy; 2014
				 	- All Rights Reserved
				</div>
			</div>
		</div>
	</footer>

<!--//end-->
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->

<script type="text/javascript" src="js/scripts.js"></script>
<!-- carousel -->
<script type="text/javascript">
//<![CDATA[
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 56
        }, 1000);
        return false;
      }
    }
  });
});
	//]]>
</script>

<script src="js/jquery-ui.min.js"></script>
