<!--info boxes-->
<div class="row">
  <div class="span3">
    <div class="tile">
      <div class="intro-icon-disc cont-large"><i class="fa fa-wrench intro-icon-large"></i></div>
      <h6><small>DESIGN</small>
        <br><a href="#"><span>built for &amp; by nerds</span></a>
      </h6>
      <p>Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. </p>
    </div>

    <div class="pad25"></div>
  </div>

  <div class="span3">
    <div class="tile">
      <div class="intro-icon-disc cont-large"><i class="fa fa-rocket intro-icon-large"></i></div>
      <h6><small>CODE</small>
        <br><a href="#"><span>12-column grid</span></a>
      </h6>
      <p>Bootstrap is designed to help people of all skill levels - designer or developer, huge nerd or early beginner.
            Use it as a complete kit or use to start something.</p>
    </div>
    <div class="pad25"></div>
  </div>

  <div class="span3">
    <div class="tile">
      <div class="intro-icon-disc cont-large"><i class="fa fa-flask intro-icon-large"></i></div>
      <h6><small>CREATE</small>
        <br><a href="#"><span>responsive</span></a>
      </h6>
      <p>Bootstrap have gone fully responsive. Our components are scaled according to a range of resolutions and devices to provide a consistent
            experience.</p>
    </div>
    <div class="pad25"></div>
  </div>

  <div class="span3">
    <div class="tile tile-hot">
      <div class="intro-icon-disc cont-large"><i class="fa fa-book  intro-icon-large"></i></div>
      <h6> <small>SUPPORT</small>
        <br><a href="#"><span>growing library</span></a>
      </h6>
      <p>Despite being only 7kb (gzipped), Bootstrap is one of the most complete front-end toolkits out there with dozens of fully functional components.</p>
    </div>
    <div class="pad25"></div>
  </div>
</div>
