<!--header-->
	<header>
		<div class="container">
		<!--logo-->
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
					<div class="logo">
						 <a href="/"><span class="animated bounceInDown">affinity tech</span></a>
					</div>
					<!--menu-->
		   	<nav id="main_menu">
					<div class="nav-collapse collapse">
						<ul class="nav nav-pills nav-justified">
			        <li>
			           <link rel="canonical" href="http://www.affinity-tech.com/index.html">Home</link>
			        </li>
							<li>
								<link rel="canonical" href="http://www.affinity-tech.com/index.html#about">About</link>
							</li>
							<li>
								<link rel="canonical" href="http://www.affinity-tech.com/index.html#projects">Projects</link>
							</li>
							<li>
								<link rel="canonical" href="http://www.affinity-tech.com/index.html#contact">Contact</link>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
	<!--//header-->
