<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.name }} | {{ page.title }}</title>
	<meta name="google-site-verification" content="p7bP0RERsb4b2fyTy_FINB_hfH2fQ1SnlHvN0ig4X7w" />
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<link rel="canonical" href="http://www.affinity-tech.com{{ page.url | replace:'index.html','' }}">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<!--[if IE]>
		<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
	<![endif]-->

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet">
	<link href="/css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="/css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="/css/settings.css" rel="stylesheet" type="text/css"/>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
