<div class="logo">
  <h1><a href="/">affinity tech</a></h1>
</div>
<p class="intro">We feel that giving to the community is important.  Which is why we offer our services for free to <strong>not-for-profit</strong> organisations.</p>
<div class="nav">
  <ul>
		<li>
			<a href="http://www.affinity-tech.com/index.html">Home</a>
		</li>
		<li>
			<a href="http://www.affinity-tech.com/blog/">Blog</a>
		</li>
		<li>
			<a href="http://www.affinity-tech.com/index.html#contact">Contact</a>
		</li>
  </ul>
</div>

<a class="social" href="https://www.twitter.com/affinity_tech/">
    <i class="fa fa-3x fa-twitter-square"></i>
</a>
