<!--//info boxes-->
<div class="row">
  <!--col 1-->
  <div class="span12">
    <div class="row">
      <div class="pad25 hidden-phone"></div>

      <div class="span4">
        <h1>Recent Work</h1>
        <h4>We are currently working hard on developing the following products.</h4>
        <p>These projects are all free to use and distribute as long as the original authors are credited. Click on an image for more details.</p>

        <a href="/projects/projects.html" class="btn btn-primary  btn-custom btn-rounded">view projects</a>
        <div class="pad45"></div>
      </div>
      <!--column 2 slider-->
      <div class="span8 pad15 col_full2">

        <div id="slider_home">

          <div class="slider-item">
            <div class="slider-image">
              <div class="hover_colour">
                <a href="/projects/ebook-generator.html">
                  <img src="img/small/s1.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="slider-title">
              <h3><a href="/projects/ebook-generator.html">ebook generator</a></h3>
            </div>
          </div>

          <div class="slider-item">
            <div class="slider-image">
              <div class="hover_colour">
                <a href="/projects/ebook-generator-gem.html">
                  <img src="img/small/s1.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="slider-title">
              <h3><a href="/projects/ebook-generator-gem.html">ebook gem</a></h3>
            </div>
          </div>

          <div class="slider-item">
            <div class="slider-image">
              <div class="hover_colour">
                <a href="/projects/pali-canon.html">
                  <img src="img/small/s1.jpg" alt="" />
                </a>
              </div>
            </div>
            <div class="slider-title">
              <h3><a href="/projects/pali-canon.html">pali canon</a></h3>
            </div>
          </div>

        </div>
      <!--  <div id="sl-prev" class="widget-scroll-prev"><i class="fa fa-chevron-left white"></i></div>
        <div id="sl-next" class="widget-scroll-next"><i class="fa fa-chevron-right white but_marg"></i></div> -->
      </div>
    </div>
  </div>
</div>
