<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      <!--page-->
      {{ content }}
      <div class="container wrapper">
        <div class="inner_content">
          <div class="pad45"></div>
          {% include showreel.html %}
        </div>
        <!--//page-->
        <div class="pad25 hidden-desktop"></div>
      </div>
      <!-- footer -->
      <div id="footer">
        <h1>get in touch</h1>
        <h3 class="center follow">
          If you would like to follow updates about our new and existing projects or to discuss a project of your own. Then please feel free to sign up to our newsletter or contact us.
        </h3>

        <div class="follow_us">
          <!-- Begin MailChimp Signup Form -->
            <div class="form-group">
              <form action="http://krisquigley.us7.list-manage2.com/subscribe/post?u=0ae688765cfcd447616e2ae23&amp;id=2097ed7c81" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL" class="control-label"></label>
                <div class="input-group">
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Sign up for our newsletter">

                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_0ae688765cfcd447616e2ae23_2097ed7c81" value=""></div>
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" />
                  </span>
                </form>
              </div>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>

      {% include footer.html %}
    </body>
</html>
