<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

<!--page-->
{{ content }}
	<div class="container wrapper">
	<div class="inner_content">
	<div class="pad45"></div>

	<!--info boxes-->
	<div class="row">
		<div class="span3">
			<div class="tile">
			<div class="intro-icon-disc cont-large"><i class="fa fa-wrench intro-icon-large"></i></div>
			<h6><small>DESIGN</small>
			<br><a href="#"><span>built for &amp; by nerds</span></a></h6>
			<p>Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. </p>
			</div>
				<div class="pad25"></div>
				</div>

			<div class="span3">
				<div class="tile">
				<div class="intro-icon-disc cont-large"><i class="fa fa-rocket intro-icon-large"></i></div>
				<h6><small>CODE</small>
				<br><a href="#"><span>12-column grid</span></a></h6>
				<p>Bootstrap is designed to help people of all skill levels - designer or developer, huge nerd or early beginner.
				Use it as a complete kit or use to start something.</p>
				</div>
					<div class="pad25"></div>
					</div>

			<div class="span3">
				<div class="tile">
				<div class="intro-icon-disc cont-large"><i class="fa fa-flask intro-icon-large"></i></div>
				<h6><small>CREATE</small>
				<br><a href="#"><span>responsive</span></a></h6>
				<p>Bootstrap have gone fully responsive. Our components are scaled according to a range of resolutions and devices to provide a consistent
				experience.</p>
				</div>
					<div class="pad25"></div>
					</div>

			<div class="span3">
				<div class="tile tile-hot">
				<div class="intro-icon-disc cont-large"><i class="fa fa-book  intro-icon-large"></i></div>
				<h6> <small>SUPPORT</small>
				<br><a href="#"><span>growing library</span></a></h6>
				<p>Despite being only 7kb (gzipped), Bootstrap is one of the most complete front-end toolkits out there with dozens of fully functional components.</p>
				</div>
					<div class="pad25"></div>
				</div>
				</div>

			<!--//info boxes-->
			<div class="row">
			<!--col 1-->
			<div class="span12">
			<div class="row">
			<div class="pad25 hidden-phone"></div>

			<div class="span4">
			<h1>Recent Work</h1>
			<h4>Lorem ipsum dolor sit amet, rebum putant recusabo in ius, pri simul tempor ne, his ei summo virtute.</h4>
			<p>Nam ea labitur pericula. Meis tamquam pro te, cibo mutat necessitatibus id vim. An his tamquam postulant, pri id mazim nostrud diceret
			sapientem eloquentiam sea cu, sea ut exerci delicata. Corrumpit vituperata.</p>

			<a href="#" class="btn btn-primary  btn-custom btn-rounded">view portfolio</a>
			<div class="pad45"></div>
			</div>
			<!--column 2 slider-->
			<div class="span8 pad15 col_full2">

			<div id="slider_home">
            <div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s1.jpg" data-rel="prettyPhoto">
					<img src="img/small/s1.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">catalogue</a></h3>
				<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s2.jpg" data-rel="prettyPhoto">
					<img src="img/small/s2.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">loupe</a></h3>
				<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s3.jpg" data-rel="prettyPhoto">
					<img src="img/small/s3.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">retro rocket</a></h3>
				<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s4.jpg" data-rel="prettyPhoto">
					<img src="img/small/s4.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">infographics</a></h3>
				<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s5.jpg" data-rel="prettyPhoto">
					<img src="img/small/s5.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">mock up</a></h3>
					<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
					</div>
				</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s6.jpg" data-rel="prettyPhoto">
					<img src="img/small/s6.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">retro badges</a></h3>
					<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
					</div>
				</div>

			<div class="slider-item">
			<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s7.jpg" data-rel="prettyPhoto">
					<img src="img/small/s7.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">details</a></h3>
					<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s8.jpg" data-rel="prettyPhoto">
					<img src="img/small/s8.jpg" alt="" /></a>
					</div>
				</div>
				<div class="slider-title">
				<h3><a href="#">vintage form</a></h3>
					<p>An his tamquam postulant, pri id mazim nostrud diceret.</p>
				</div>
			</div>
				</div>
				<div id="sl-prev" class="widget-scroll-prev"><i class="fa fa-chevron-left white"></i></div>
				<div id="sl-next" class="widget-scroll-next"><i class="fa fa-chevron-right white but_marg"></i></div>
			</div>
				</div>
				</div>
			</div>
		</div>
		<!--//page-->

		<div class="pad25 hidden-desktop"></div>
	</div>



    {% include footer.html %}

    </body>
</html>
