---
layout: default
---


	<div class="pad30"></div>
	<div class="container wrapper">
	<div class="inner_content">

	<!-- sidebar -->
		<div class="row">
			<div class="span3">
			 <h4><span>h4 Heading</span></h4>
			<p>An choro nemore dolores eos, voluptua oportere vim ea, ne mei deleniti convenire. Vix reprimique scribentur ea, ne dolorem.</p>

			<ul class="fa-ul">
						<li><i class="fa-li fa fa-check colour"></i> Responsive Design</li>
						<li><i class="fa-li fa fa-check colour"></i> One font, 249 icons</li>
						<li><i class="fa-li fa fa-check colour"></i> Powerful front-end framework</li>
						<li><i class="fa-li fa fa-check colour"></i> Built with Twitter Bootstrap</li>
					</ul>

			<h5>h5 Heading</h5><p>Lorem ipsum dolor sit amet, doming ullamcorper vix no, hinc dictas percipitur pri ea, reque laboramus.</p>

			<div class="pad30"></div>
			<div class="col_full">

			<div id="slider_small">
			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s1.jpg" data-rel="prettyPhoto"><img src="img/large/s1.jpg" alt="" /></a>
				</div>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s2.jpg" data-rel="prettyPhoto"><img src="img/large/s2.jpg" alt="" /></a>
				</div>
				</div>
			</div>

			<div class="slider-item">
				<div class="slider-image">
				<div class="hover_colour">
				<a href="img/large/s3.jpg" data-rel="prettyPhoto"><img src="img/large/s3.jpg" alt="" /></a>
				</div>
				</div>
			</div>
			</div>
				<div id="sl-prev3" class="widget-scroll-prev3"><i class="fa fa-chevron-left white"></i></div>
				<div id="sl-next3" class="widget-scroll-next3"><i class="fa fa-chevron-right white but_marg"></i></div>

			<div class="pad15"></div>
				<blockquote>Lorem ipsum dolor sit amet, doming ullamcorper vix no, hinc dictas percipitur.</blockquote>

			<p>
			<a href="#" class="zocial icon twitter"></a>
			<a href="#" class="zocial icon facebook"></a>
			<a href="#" class="zocial icon googleplus"></a>
			</p>
				</div>
					</div>

			<div class="span9 pad15">
			<!-- sidebar -->
			<div class="myslider">
			<img src="img/large/index_slider1.jpg" alt="" >
		<a href="#"><img src="img/large/index_slider2.jpg" alt="" ></a>
		<img src="img/large/index_slider3.jpg" alt="" >
			</div>
			<!-- /SLIDER set height and width of your images in the script at the bottom of page -->

		<h2><span>Heading (h2)</span></h2>

		<p><b>Lorem ipsum dolor sit amet, doming ullamcorper vix no, hinc dictas percipitur pri ea, reque laboramus id qui.
		Per an dicta verear ornatus, te est saperet offendit, pri ei mollis deleniti efficiantur. An choro nemore dolores eos.</b></p>

		<p>Epicuri scaevola at nam, accusam assentior pro ut. Quis suavitate in vis. Sale commune sed no, ex choro sanctus sadipscing duo, mel semper
		feugait menandri ex. Oratio prompta ut vix, nam nibh scriptorem te, rebum zril conceptam vel et. Ad atqui invidunt definiebas nam, sea accusam
		detraxit id. Ne erant dicant blandit vis, ut eos vidit sententiae dissentiet.</p>

		<p>Lorem ipsum dolor sit amet, nihil consul ei qui, mel salutatus vulputate ut. Quo ad verterem antiopam, nullam omnesque placerat ex eum.
		Has id utroque urbanitas, in hinc deserunt eos. Quidam discere ne quo, ne per inimicus scripserit, animal efficiantur ea nam. Paulo patrioque interesset
		ut mei, qui at tantas noluisse postulant. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur posuere. Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum venenatis. Vestibulum id ligula porta euismod semper.</p>
		</div>
			</div>
				</div>
